# ------------- Developer Credentials ----------------- #
ACCESSTOK=''
SUBKEY=''

# ------------- Credential Definition ----------------- #
CRED_DEF_ID=''

# ------------- Sovrin Staging Schema ------------------- #
#SCHEMA_ID='NGZRy3B7HgE4RpBJpzjM5y:2:business-card:1.0'

# ------------- BCovrin Schema -------------------------- #
#SCHEMA_ID='5ZtmDq3BwF7vVLcWTejb3M:2:business card:1.0'

