:root {
  --primary-color: #006BE5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#navbar {
  background-color: var(--primary-color);
}

.nav-element {
  color: white;
}

#logo {
  height: 30px;
  padding: 0;
  margin: 0;
}

#content {
  height: 100%;
  width: 100%;
  margin: 40px;
  padding: 40px 40px 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#submit-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
}

/* The Modal */
#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Modal Close Button */
#close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#close-button:hover,
#close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#spinner {
  text-align: center;
}

#qrcode {
  display: none;
}

.qr-image{
  width: 300px;
  height: 300px;
}

.centered-content {
  align-content: center;
  text-align: center;
}
